<?xml version="1.0"?>
<config>
    <modules>
        <Celebros_Conversionpro>
            <version>5.0.0</version>
            <build>107</build>
        </Celebros_Conversionpro>
    </modules>
    <frontend>
        <routers>
            <conversionpro>
                <use>standard</use>
                <args>
                    <module>Celebros_Conversionpro</module>
                    <frontName>conversionpro</frontName>
                </args>
            </conversionpro>
            <catalogsearch>
                <args>
                    <modules>
                        <Celebros_Conversionpro before="Mage_Catalogsearch">Celebros_Conversionpro_Catalogsearch</Celebros_Conversionpro>
                    </modules>
                </args>
            </catalogsearch>
        </routers>
        <layout>
            <updates>
                <conversionpro>
                    <file>conversionpro.xml</file>
                </conversionpro>
            </updates>
        </layout>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <celebros_conversionpro_controller_action_layout_load_before>
                        <type>singleton</type>
                        <class>conversionpro/observer</class>
                        <method>intModeCheck</method>
                    </celebros_conversionpro_controller_action_layout_load_before>
                </observers>
            </controller_action_layout_load_before>
            <!--<controller_action_layout_render_before>
                <observers>
                    <celebros_conversionpro_action_layout_render_before>
                        <type>singleton</type>
                        <class>conversionpro/observer</class>
                        <method>addLibz</method>
                    </celebros_conversionpro_action_layout_render_before>
                </observers>
            </controller_action_layout_render_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <celebros_conversionpro_core_block_abstract_to_html_after>
                        <type>singleton</type>
                        <class>conversionpro/observer</class>
                        <method>addHostData</method>
                    </celebros_conversionpro_core_block_abstract_to_html_after>
                </observers>
            </core_block_abstract_to_html_after>
            <core_block_abstract_to_html_after>
                <observers>
                    <celebros_conversionpro_core_block_abstract_to_html_after>
                        <type>singleton</type>
                        <class>conversionpro/observer</class>
                        <method>addHostData</method>
                    </celebros_conversionpro_core_block_abstract_to_html_after>
                </observers>
            </core_block_abstract_to_html_after>-->
            <controller_action_predispatch_catalogsearch_result_index>
                <observers>
                    <celebros_conversionpro_controller_action_predispatch_catalogsearch_result_index>
                        <class>conversionpro/observer</class>
                        <method>filterQueryParam</method>
                    </celebros_conversionpro_controller_action_predispatch_catalogsearch_result_index>
                </observers>
            </controller_action_predispatch_catalogsearch_result_index>
        </events>
    </frontend>
    <admin>
        <routers>
            <conversionpro_admin>
                <use>admin</use>
                <args>
                    <module>Celebros_Conversionpro</module>
                    <frontName>conversionpro_admin</frontName>
                </args>
            </conversionpro_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <catalog>
                <children>
                    <conversionpro_mapping translate="title" module="conversionpro">
                        <title>Celebros Conversion Pro</title>
                        <action>conversionpro/adminhtml_mapping</action>
                    </conversionpro_mapping>
                </children>
            </catalog>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <conversionpro>
                                            <title translate="title">Celebros</title>
                                        </conversionpro>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <catalog>
                            <children>
                                <conversionpro_mapping>
                                    <title translate="title">Conversion Pro Settings</title>
                                </conversionpro_mapping>
                            </children>
                        </catalog>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <conversionpro>
                    <file>conversionpro.xml</file>
                </conversionpro>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <conversionpro>
                <class>Celebros_Conversionpro_Model</class>
                <resourceModel>conversionpro_mysql4</resourceModel>
            </conversionpro>
            <conversionpro_mysql4>
                <class>Celebros_Conversionpro_Model_Mysql4</class>
                <entities>
                    <cache>
                        <table>celebros_cache</table>
                    </cache>
                    <mapping>
                        <table>celebros_mapping</table>
                    </mapping>
                </entities>
            </conversionpro_mysql4>
        </models>
        <resources>
            <conversionpro_setup>
                <setup>
                    <module>Celebros_Conversionpro</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </conversionpro_setup>
            <conversionpro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </conversionpro_write>
            <conversionpro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </conversionpro_read>
        </resources>
        <blocks>
            <conversionpro>
                <class>Celebros_Conversionpro_Block</class>
            </conversionpro>
        </blocks>
        <helpers>
            <conversionpro>
                <class>Celebros_Conversionpro_Helper</class>
            </conversionpro>
        </helpers>
        <!--<rewrite>
            <conversionpro_result_index>
                <from><![CDATA[#^/catalogsearch/result/#]]></from>
                <to>/conversionpro/result/</to>
                <complete>1</complete>
            </conversionpro_result_index>
        </rewrite>-->
    </global>
    <default>
        <conversionpro>
            <general_settings>
                <conversionpro_enabled>0</conversionpro_enabled>
                <host></host>
                <port>6035</port>
                <sitekey></sitekey>
                <adddiv>1</adddiv>
                <addscripts>1</addscripts>
                <hidecontent>1</hidecontent>
            </general_settings>
            <nav_to_search_settings>
                <nav_to_search>0</nav_to_search>
            </nav_to_search_settings>
            <advanced>
                <scripts_path>uitemplate/Scripts</scripts_path>
                <client_config_path>uitemplate/Clients</client_config_path>
                <client_config_js_filename>ClientConfig.min.js</client_config_js_filename>
                <import_override>1</import_override>
                <enable_monitoring>0</enable_monitoring>
                <enable_connectivity>0</enable_connectivity>
                <connectivity_attempts>5</connectivity_attempts>
                <connectivity_failures>3</connectivity_failures>
            </advanced>
        </conversionpro>
    </default>
    <!-- search handles -->
    <conversionpro>
        <search_actions>
            <conversionpro_result_index/>
            <catalogsearch_result_index/>
            <!--<catalogsearch_advanced_result/>-->
        </search_actions>
        <nav2search_actions>
            <catalog_category_view/>
        </nav2search_actions>
        <jquery_filename>jquery.1.7.Celebros.min.js</jquery_filename>
        <client_config_path>output</client_config_path>
    </conversionpro>
    <!-- search handles -->
</config>