<!--@subject New Dealer Application: {{var application.full_name}}@-->
<!DOCTYPE html>
<html>
<head>
	<title>Dealer Application Sent</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h1>Dear {{var application.full_name}},</h1>
	<h2>Thank you for your recent submission of a dealer application with <a href="http://www.tmsparts.com">www.tmsparts.com</a>. We are reviewing your information for approval. We will notify you upon your acceptance into our dealer program.  We do have some requirements to participate in our dealer program, if for any reason we decide you don't meet the requirements, you will also be notified.</h2>

	<a href="{{var view_profile_url}}">View your profile on the site</a>

	<p class="wasthatyou">We've received a dealer application with this email. If you didn't send it, please just ignore this email.</p>

</body>
</html>
