<!--@subject New Dealer Application: {{var application.full_name}}@-->
<!DOCTYPE html>
<html>
<head>
	<title>New Dealer Application</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h1>Dear {{var application.full_name}},</h1>
	<h2>Unfortunately your recent request to join our dealer program wasn't able to be approved at this time.</h2>
	<p>Even though we weren't able to approve your application for acceptance into our dealer program, you're always welcome to shop <a href="http://www.tmsparts.com">www.tmsparts.com</a> anytime.  We value your business!  And we thank you for your interest in our dealer program.</p>

	<a href="{{var view_profile_url}}">View your profile on the site</a>

</body>
</html>
