<!--@subject New Dealer Application: {{var application.full_name}}@-->
<!DOCTYPE html>
<html>
<head>
	<title>New Dealer Application</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h1>Dear {{var application.full_name}},</h1>
	<h2>Congratulations! Your recent dealer application submitted to <a href="http://www.tmsparts.com">www.tmsparts.com</a> has been approved.</h2>
	<p>We will be happy to supply you your OEM and Aftermarket parts.  We can sell you
		<a href="http://www.tmsparts.com/oem-parts/honda.html">Honda</a>,
		<a href="http://www.tmsparts.com/oem-parts/yamaha.html">Yamaha</a>,
		<a href="http://www.tmsparts.com/oem-parts/suzuki.html">Suzuki</a>,
		<a href="http://www.tmsparts.com/oem-parts/kawasaki.html">Kawasaki</a>,
		<a href="http://www.tmsparts.com/oem-parts/polaris.html">Polaris</a>, and
		<a href="http://www.tmsparts.com/oem-parts/victory.html">Victory</a> OEM parts.  We also have a large selection of Aftermarket parts too. If you don't see it on our site please ask. We can probably get it.</p>

	<a href="{{var view_profile_url}}">View your profile on the site</a>

</body>
</html>
