/* For scroll to top button. */
.scrollToTop{
	width:64px; 
	height:64px;
	padding:0; 
	text-align:center;
	position:fixed;
	top:85%;
	right:20px;
	z-index:10;
	opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
	display:none;
	background: url('./to-top.png') no-repeat;
}
.scrollToTop:hover{
	text-decoration:none;
}