<?xml version="1.0"?>
<config>
   <modules>
        <Ajh_Common>
            <version>0.0.1</version>
        </Ajh_Common>
   </modules>
    <global>
        <helpers>
            <common>
                <class>Ajh_Common_Helper</class>
            </common>
        </helpers>
    </global>
    <admin>
        <routers>
            <common>
                <use>admin</use>
                <args>
                    <module>Ajh_Common</module>
                    <frontName>common</frontName>
                </args>
            </common>
        </routers>
    </admin>
</config>