<?xml version="1.0"?>
<config>
	<modules>
		<SMDesign_SMDZoom>
			<version>2.2</version>
		</SMDesign_SMDZoom>
	</modules>
	<global>
		<models>
			<smdzoom>
				<class>SMDesign_SMDZoom_Model</class>
			</smdzoom>
		</models>
		<helpers>
			<smdzoom>
				<class>SMDesign_SMDZoom_Helper</class>
			</smdzoom>
		</helpers>
		<blocks>
			<smdzoom>
				<class>SMDesign_SMDZoom_Block</class>
			</smdzoom>
		</blocks>
		<blocks>
			<catalog>
				<rewrite>
					<product_view_media>SMDesign_SMDZoom_Block_Product_View_Media</product_view_media>
				</rewrite>
			</catalog>
		</blocks>
		<resources>
			<smdzoom_setup>
				<setup>
				    <module>SMDesign_SMDZoom</module>
				</setup>
			</smdzoom_setup>
		</resources>
	</global>

	<frontend>
		<layout>
			<updates>
				<smdzoom>
					<file>smdzoom.xml</file>
				</smdzoom>
			</updates>
		</layout>
	</frontend>

	<default>
		<smdesign_smdzoom>
			<zoom>
				<enabled>1</enabled>
				<more_view_change_main_image>1</more_view_change_main_image>
				<show_preloader>1</show_preloader>
				<image_width>250</image_width>
				<image_height>250</image_height>
				<thumbnail_width>56</thumbnail_width>
				<thumbnail_height>56</thumbnail_height>
				<wrapper_width>350</wrapper_width>
				<wrapper_height>400</wrapper_height>
				<wrapper_offset_left>30</wrapper_offset_left>
				<wrapper_offset_top>0</wrapper_offset_top>
				<zoom_type>0</zoom_type>
				<zoom_ratio>2</zoom_ratio>
				<show_zoom_effect>none</show_zoom_effect>
				<hide_zoom_effect>none</hide_zoom_effect>
				<show_info_error>1</show_info_error>
			</zoom>
		</smdesign_smdzoom>
	</default>
</config>