<?xml version="1.0" encoding="UTF-8"?>
<!--
* @package     CueBlocks_SitemapEnhanced
* @company     CueBlocks - http://www.cueblocks.com/
-->
<config>
    <modules>
        <CueBlocks_SitemapEnhanced>
            <version>1.2.8</version>
        </CueBlocks_SitemapEnhanced>
    </modules>
    <global>
        <blocks>
            <sitemapEnhanced>
                <class>CueBlocks_SitemapEnhanced_Block</class>
            </sitemapEnhanced>
        </blocks>
        <helpers>
            <sitemapEnhanced>
                <class>CueBlocks_SitemapEnhanced_Helper</class>
            </sitemapEnhanced>
        </helpers>
        <models>
            <sitemapEnhanced>
                <class>CueBlocks_SitemapEnhanced_Model</class>
                <resourceModel>sitemapEnhanced_mysql4</resourceModel>
            </sitemapEnhanced>
            <sitemapEnhanced_mysql4>
                <class>CueBlocks_SitemapEnhanced_Model_Mysql4</class>
                <entities>
                    <sitemapEnhanced>
                        <table>cb_sitemapenhanced</table>
                    </sitemapEnhanced>
                    <sitemapEnhancedFiles>
                        <table>cb_sitemapenhanced_files</table>
                    </sitemapEnhancedFiles>
                </entities>
            </sitemapEnhanced_mysql4>
        </models>
        <resources>
            <sitemapEnhanced_setup>
                <setup>
                    <module>CueBlocks_SitemapEnhanced</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sitemapEnhanced_setup>
            <sitemapEnhanced_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sitemapEnhanced_write>
            <sitemapEnhanced_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sitemapEnhanced_read>
        </resources>
        <template>
            <email>
                <sitemapEnhanced_generate_report_email_template translate="label" module="sitemapEnhanced">
                    <label>Sitemap Enhanced generate Report</label>
                    <file>sitemapEnhanced_generate_report.html</file>
                    <type>html</type>
                </sitemapEnhanced_generate_report_email_template>
            </email>
        </template>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <sitemapenhanced>
                    <file>sitemapenhanced.xml</file>
                </sitemapenhanced>
            </updates>
        </layout>
        <!--events>
            <controller_action_predispatch>
                <observers>
                    <cueblocks_feed>
                        <type>singleton</type>
                        <class>sitemapEnhanced/feed_general</class>
                        <method>feedFetch</method>
                    </cueblocks_feed>
                    <sitemapEnhanced_feed>
                        <type>singleton</type>
                        <class>sitemapEnhanced/feed_sitemap</class>
                        <method>feedFetch</method>
                    </sitemapEnhanced_feed>
                </observers>
            </controller_action_predispatch>
        </events-->
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sitemapEnhanced before="Mage_Adminhtml">CueBlocks_SitemapEnhanced_Adminhtml</sitemapEnhanced>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <sitemapEnhanced_generate>
                <schedule>
                    <cron_expr>0 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>sitemapEnhanced/observer::scheduledGenerateSitemaps</model>
                </run>
            </sitemapEnhanced_generate>
        </jobs>
    </crontab>
    <default>
        <sitemap_enhanced>
            <advanced>
                <avoid_timeout>1</avoid_timeout>
            </advanced>
            <general>
                <usecompression>0</usecompression>
                <report_email_template>sitemapEnhanced_generate_report_email_template</report_email_template>
                <error_email_identity>general</error_email_identity>
                <linkslimit>50000</linkslimit>
                <byteslimit>10485760</byteslimit>
                <parse_robots>0</parse_robots>
                <use_sep_cat>0</use_sep_cat>
                <path_map></path_map>
            </general>
            <category>
                <enabled>1</enabled>
                <priority>0.5</priority>
                <changefreq>daily</changefreq>
                <is_separate_category>0</is_separate_category>
                <excluded_category></excluded_category>
            </category>
            <product>
                <enabled>1</enabled>
                <enabled_images>0</enabled_images>
                <priority>1</priority>
                <changefreq>daily</changefreq>
            </product>
            <prod_out>
                <enabled>1</enabled>
                <enabled_images>0</enabled_images>
                <priority>1</priority>
                <changefreq>daily</changefreq>
            </prod_out>
            <prod_tag>
                <enabled>1</enabled>
                <priority>1</priority>
                <changefreq>daily</changefreq>
            </prod_tag>
            <prod_review>
                <enabled>1</enabled>
                <priority>1</priority>
                <changefreq>daily</changefreq>
            </prod_review>
            <page>
                <enabled>1</enabled>
                <priority>0.25</priority>
                <changefreq>daily</changefreq>
            </page>
            <custom_page>
                <enabled>0</enabled>
                <priority>0.25</priority>
                <changefreq>daily</changefreq>
            </custom_page>
            <generate>
                <enabled>0</enabled>
                <time>03,00,00</time>
            </generate>
            <ping>
                <enabled>0</enabled>
                <search_engine>Google</search_engine>
            </ping>
        </sitemap_enhanced>
    </default>
</config>