<?xml version="1.0"?>
<config>
	<tabs>
		<vikont translate="label" module="pulliver">
			<label>Vikont</label>
			<sort_order>150</sort_order>
		</vikont>
	</tabs>

	<sections>
		<pulliver translate="label" module="pulliver">
			<label>Pulliver</label>
			<tab>vikont</tab>
			<frontend_type>text</frontend_type>
			<sort_order>10</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>0</show_in_website>
			<show_in_store>0</show_in_store>
			<groups>

				<general translate="label">
					<label>General</label>
					<sort_order>100</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<enabled translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</enabled>
						<keeplog translate="label">
							<label>Enable logging</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</keeplog>

						<h2 translate="label">
							<label>Import</label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</h2>
						<import_location translate="label">
							<label>Directory</label>
							<frontend_type>text</frontend_type>
							<sort_order>120</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>Should be relative to Magento root</comment>
						</import_location>
					</fields>
				</general>


				<lightspeed translate="label">
                    <label>LightSpeed</label>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
					<fields>
						<h1 translate="label">
							<label>Vendor API</label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</h1>
						<base_url translate="label">
							<label>Base URL</label>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment><![CDATA[Typically <span style="color:red">https://int.lightspeedadp.com/lsapi/Part</span>]]></comment>
						</base_url>
						<username translate="label">
							<label>User name</label>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</username>
						<password translate="label">
							<label>Password</label>
							<frontend_type>text</frontend_type>
<!--							<frontend_type>obscure</frontend_type>
							<backend_model>adminhtml/system_config_backend_encrypted</backend_model>-->
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</password>

						<h3 translate="label">
							<label>CMF IDs for grabbing the inventory information</label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>200</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</h3>
						<retail translate="label">
							<label>Retail store CMF</label>
							<frontend_type>text</frontend_type>
							<sort_order>210</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</retail>
						<warehouse translate="label">
							<label>Warehouse CMF</label>
							<frontend_type>text</frontend_type>
							<sort_order>220</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</warehouse>

					</fields>
				</lightspeed>


                <tucker_rocky translate="label">
                    <label>Tucker Rocky</label>
                    <sort_order>300</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
						<h1 translate="label">
							<label>Remote FTP Storage</label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</h1>
						<base_url translate="label">
							<label><![CDATA[FTP Server &amp; Path]]></label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment><![CDATA[]]></comment>
						</base_url>
						<username translate="label">
							<label>User name</label>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</username>
						<password translate="label">
							<label>Password</label>
							<frontend_type>text</frontend_type>
							<!--<frontend_type>obscure</frontend_type>-->
							<!--<backend_model>adminhtml/system_config_backend_encrypted</backend_model>-->
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</password>

						<h2 translate="label">
							<label>Remote Files</label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>200</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</h2>
						<master translate="label">
							<label>Item master file name</label>
							<frontend_type>text</frontend_type>
							<sort_order>210</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</master>
						<inventory translate="label">
							<label>Short inventory update file name</label>
							<frontend_type>text</frontend_type>
							<sort_order>220</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</inventory>

					</fields>
                </tucker_rocky>


                <troy_lee translate="label">
                    <label>Troy Lee</label>
                    <sort_order>400</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
						<h1 translate="label">
							<label>Remote FTP Storage</label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</h1>
						<base_url translate="label">
							<label><![CDATA[FTP Server &amp; Path]]></label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment><![CDATA[]]></comment>
						</base_url>
						<username translate="label">
							<label>User name</label>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</username>
						<password translate="label">
							<label>Password</label>
							<frontend_type>text</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</password>
					</fields>
				</troy_lee>


                <fox_racing translate="label">
                    <label>Fox Racing</label>
                    <sort_order>500</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
						<h1 translate="label">
							<label>Remote FTP Storage</label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</h1>
						<base_url translate="label">
							<label><![CDATA[FTP Server &amp; Path]]></label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment><![CDATA[]]></comment>
						</base_url>
						<username translate="label">
							<label>User name</label>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</username>
						<password translate="label">
							<label>Password</label>
							<frontend_type>text</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</password>
						<remote_filename translate="label">
							<label>Inventory file name</label>
							<frontend_type>text</frontend_type>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</remote_filename>
					</fields>
				</fox_racing>


                <parts_unlimited translate="label">
                    <label>Parts Unlimited</label>
                    <sort_order>600</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
						<h1 translate="label">
							<label>Remote API</label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</h1>
						<dealer_code translate="label">
							<label>Dealer code</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</dealer_code>
						<username translate="label">
							<label>User name</label>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</username>
						<password translate="label">
							<label>Password</label>
							<frontend_type>text</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</password>
						<login_url translate="label">
							<label>Login URL</label>
							<frontend_type>text</frontend_type>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</login_url>
						<pricing_url translate="label">
							<label>Pricing URL</label>
							<frontend_type>text</frontend_type>
							<sort_order>60</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</pricing_url>
					</fields>
				</parts_unlimited>


                <helmet_house translate="label">
                    <label>Helmet House</label>
                    <sort_order>700</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
						<h1 translate="label">
							<label>Remote FTP Storage</label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</h1>
						<base_url translate="label">
							<label><![CDATA[FTP Server &amp; Path]]></label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment><![CDATA[]]></comment>
						</base_url>
						<username translate="label">
							<label>User name</label>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</username>
						<password translate="label">
							<label>Password</label>
							<frontend_type>text</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</password>
						<remote_filename translate="label">
							<label>Inventory file name</label>
							<frontend_type>text</frontend_type>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</remote_filename>
					</fields>
				</helmet_house>


                <western_power translate="label">
                    <label>Western Power Sports</label>
                    <sort_order>800</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
						<h1 translate="label">
							<label>Remote FTP Storage</label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</h1>
						<base_url translate="label">
							<label>FTP Server name</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment><![CDATA[]]></comment>
						</base_url>
						<username translate="label">
							<label>User name</label>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</username>
						<password translate="label">
							<label>Password</label>
							<frontend_type>text</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</password>
						<remote_filename translate="label">
							<label>Inventory file name &amp; path</label>
							<frontend_type>text</frontend_type>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</remote_filename>
					</fields>
				</western_power>


				<motonation translate="label">
                    <label>Motonation</label>
                    <sort_order>900</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
						<h1 translate="label">
							<label>Remote FTP Storage</label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</h1>
						<base_url translate="label">
							<label>FTP Server name</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment><![CDATA[]]></comment>
						</base_url>
						<username translate="label">
							<label>User name</label>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</username>
						<password translate="label">
							<label>Password</label>
							<frontend_type>text</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</password>
						<remote_filename translate="label">
							<label>Inventory file name &amp; path</label>
							<frontend_type>text</frontend_type>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</remote_filename>
					</fields>
				</motonation>


				<bell_helmets translate="label">
                    <label>Bell Helmets</label>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
						<h1 translate="label">
							<label>Remote FTP Storage</label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</h1>
						<base_url translate="label">
							<label>FTP Server name</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment><![CDATA[]]></comment>
						</base_url>
						<username translate="label">
							<label>User name</label>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</username>
						<password translate="label">
							<label>Password</label>
							<frontend_type>text</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</password>
						<remote_filename translate="label">
							<label>Inventory file name &amp; path</label>
							<frontend_type>text</frontend_type>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</remote_filename>
					</fields>
				</bell_helmets>

			</groups>
		</pulliver>
	</sections>
</config>
